workflows/[UDIA] Loops.json
{
  "active": false,
  "connections": {
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "RSS Read",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Read": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-04-14T16:26:39.073Z",
  "id": "nPfGSsBJQgy7nYmC",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "[UDIA] Loops",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -140,
        20
      ],
      "id": "543c3ed3-203f-4bd3-a57a-15167e37540e",
      "name": "When clicking ‘Test workflow’"
    },
    {
      "parameters": {
        "url": "https://www.techradar.com/rss",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.1,
      "position": [
        140,
        20
      ],
      "id": "806c9439-aa78-4a30-804b-67a2ad8e03e7",
      "name": "RSS Read"
    },
    {
      "parameters": {
        "batchSize": 3,
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        360,
        20
      ],
      "id": "ba24408e-2d72-41de-a3d7-3c64507f6527",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "13c3ec8e-aee3-46fc-9bf2-c465672f99cd",
              "name": "titulo_modificado",
              "value": "=UDIA: {{ $json.title }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        860,
        40
      ],
      "id": "aa31718d-623f-4401-a96f-9bfec161335d",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1UV94_NwCrwbOalExPwTy2YhWWeUee7-iac68qB2H8YQ",
          "mode": "list",
          "cachedResultName": "UDIA Agente IA",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1UV94_NwCrwbOalExPwTy2YhWWeUee7-iac68qB2H8YQ/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Hoja 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1UV94_NwCrwbOalExPwTy2YhWWeUee7-iac68qB2H8YQ/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Titulo": "={{ $json.titulo_modificado }}",
            "Autor": "={{ $('Loop Over Items').item.json.creator }}",
            "Fecha": "={{ $('Loop Over Items').item.json.pubDate }}",
            "Descripción": "={{ $('Loop Over Items').item.json.content }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Titulo",
              "displayName": "Titulo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Descripción",
              "displayName": "Descripción",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Autor",
              "displayName": "Autor",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Fecha",
              "displayName": "Fecha",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1040,
        40
      ],
      "id": "74d55cb6-818e-47d6-b784-a7b320724d5e",
      "name": "Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "CADKbhjecIJbmaXD",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "chatId": "8096562141",
        "text": "¡Loop completado!",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        800,
        -160
      ],
      "id": "df0d1e9d-971e-4cff-a67b-a34c149f75b2",
      "name": "Telegram",
      "webhookId": "2f736fed-c615-40de-9f98-72059fbd81b5",
      "credentials": {
        "telegramApi": {
          "id": "3LRM6Aj1ndJe6IOw",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        600,
        -100
      ],
      "id": "1ed7cc45-b438-4144-bc8d-0919c108535a",
      "name": "Limit"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-04-14T16:45:14.000Z",
  "versionId": "76cacaa7-7eb6-4195-9cad-5d50c8094d23"
}