workflows/[UDIA] Agentes de IA con Memoria y Tool.json
{
  "active": false,
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "API GOOGLE": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Google Sheets1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-04-11T11:37:55.780Z",
  "id": "kisGdk52pKonXnZ7",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "[UDIA] Agentes de IA con Memoria y Tool",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        -240,
        -160
      ],
      "id": "7b472c3b-2e8a-4300-afe3-1546deaccfbe",
      "name": "When chat message received",
      "webhookId": "0c4eb238-1028-4c51-bd8f-5a357778571a"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1UV94_NwCrwbOalExPwTy2YhWWeUee7-iac68qB2H8YQ/edit?gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Hoja 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1UV94_NwCrwbOalExPwTy2YhWWeUee7-iac68qB2H8YQ/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Búsqueda": "={{ $json.chatInput }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Búsqueda",
              "displayName": "Búsqueda",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Respuesta",
              "displayName": "Respuesta",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -20,
        -160
      ],
      "id": "6aae3fa9-9366-4602-8c0b-181c965a63e8",
      "name": "Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "CADKbhjecIJbmaXD",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('When chat message received').item.json.chatInput }}",
        "options": {
          "systemMessage": "Eres un asistente que me ayuda a buscar en Google con la herramienta: API GOOGLE todas las url de la búsqueda que te pida por chat el usuario.\n\nSiempre contestarás únicamente el listado de url que venga de la herramienta API GOOGLE"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        200,
        -160
      ],
      "id": "fcc22622-c59b-45a0-b49c-8341dabb5a07",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('When chat message received').item.json.sessionId }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        300,
        60
      ],
      "id": "3d2682df-5e52-4e35-a31f-40cc5bdce745",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "toolDescription": "Esta tool busca en google usando los términos que indica el usuraio.",
        "method": "POST",
        "url": "https://google-api31.p.rapidapi.com/map",
        "sendQuery": true,
        "specifyQuery": "json",
        "jsonQuery": "={\n  \"text\": \"{{$fromAI('busqueda')}}\",\n  \"place\": \"washingtonDC\",\n  \"street\": \"\",\n  \"city\": \"\",\n  \"country\": \"es-es\",\n  \"state\": \"\",\n  \"postalcode\": \"\",\n  \"latitude\": \"\",\n  \"longitude\": \"\",\n  \"radius\": \"\"\n}\n",
        "sendHeaders": true,
        "parametersHeaders": {
          "values": [
            {
              "name": "X-RapidAPI-Host",
              "valueProvider": "fieldValue",
              "value": "google-api31.p.rapidapi.com"
            },
            {
              "name": "Content-Type",
              "valueProvider": "fieldValue",
              "value": "application/json"
            },
            {
              "name": "x-rapidapi-key",
              "valueProvider": "fieldValue",
              "value": "035e0c4c3cmsh7111440c4227ee2p1cacc8jsn41a988f40a55"
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [
        460,
        60
      ],
      "id": "07f908c4-0e18-4b81-ab8e-2b30f3eba016",
      "name": "API GOOGLE"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1UV94_NwCrwbOalExPwTy2YhWWeUee7-iac68qB2H8YQ/edit?gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Hoja 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1UV94_NwCrwbOalExPwTy2YhWWeUee7-iac68qB2H8YQ/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [
            "Búsqueda"
          ],
          "schema": [
            {
              "id": "Búsqueda",
              "displayName": "Búsqueda",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Respuesta",
              "displayName": "Respuesta",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        560,
        -160
      ],
      "id": "5b927547-2fe3-49b1-8f58-c9abeba835a3",
      "name": "Google Sheets1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "CADKbhjecIJbmaXD",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        160,
        40
      ],
      "id": "afbece9d-157f-4fd0-93a1-ede6370ca532",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "rdJzH5xVW8BGATek",
          "name": "OpenAi account 2"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-07-14T15:23:40.000Z",
  "versionId": "7101cb72-9826-4379-a322-32015bcbefc2"
}