workflows/[UDIA] Creación de RAG.json
{
  "active": false,
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Google Drive",
            "type": "main",
            "index": 0
          },
          {
            "node": "Google Drive1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive1": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive3": {
      "main": [
        []
      ]
    }
  },
  "createdAt": "2025-04-11T12:44:57.439Z",
  "id": "2n4Os2HvBCAfil0R",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "[UDIA] Creación de RAG",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1k8vYAEQuMj-lZBK0iQvlyaVutBuc51jc",
          "mode": "list",
          "cachedResultName": "RAG_UDIA",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1k8vYAEQuMj-lZBK0iQvlyaVutBuc51jc"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -160,
        -100
      ],
      "id": "9249a558-b01a-4a28-a8a1-85e55e3dc386",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "wiLRF9QPi18ANrOf",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "1ecWhVIT_Vmtt6j0VR_tHAA0qWA7RAV3elxqrKSCerfU",
          "mode": "list",
          "cachedResultName": "INFORMACIÓN TIENDA MUNSURI",
          "cachedResultUrl": "https://docs.google.com/document/d/1ecWhVIT_Vmtt6j0VR_tHAA0qWA7RAV3elxqrKSCerfU/edit?usp=drivesdk"
        },
        "options": {
          "fileName": ""
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        100,
        -100
      ],
      "id": "911c7a92-d767-4cfe-bce8-f79470d03ca9",
      "name": "Google Drive",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "wiLRF9QPi18ANrOf",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "ragudia",
          "mode": "list",
          "cachedResultName": "ragudia"
        },
        "embeddingBatchSize": null,
        "options": {
          "pineconeNamespace": "udia_rag"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.1,
      "position": [
        400,
        -100
      ],
      "id": "eea504c1-9ba6-4c70-9ca0-f2fa3ceb5d22",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "9GMgqQpVjtEp2Dxu",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        360,
        100
      ],
      "id": "a11105de-e02c-470f-b370-f63d82d21e07",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "rdJzH5xVW8BGATek",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "file",
                "value": "={{ $json.name }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1,
      "position": [
        500,
        100
      ],
      "id": "d3f1ec00-0937-4f07-8f19-e5a38ba4cd6f",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "chunkSize": 500,
        "chunkOverlap": 20,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        500,
        240
      ],
      "id": "3575b62b-4c6f-40f2-aece-d32553242da2",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "1ycVXwkaGtEaPqzqOOnoWzvNjPKh8w3U96wZyd6xx_cI",
          "mode": "list",
          "cachedResultName": "INFORMACION GENERAL TIENDA MUNSURI",
          "cachedResultUrl": "https://docs.google.com/document/d/1ycVXwkaGtEaPqzqOOnoWzvNjPKh8w3U96wZyd6xx_cI/edit?usp=drivesdk"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        100,
        80
      ],
      "id": "e91d2e13-1790-4951-a394-f4c1cada00a4",
      "name": "Google Drive1",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "wiLRF9QPi18ANrOf",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "filter": {},
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        120,
        360
      ],
      "id": "230ac391-45a0-4be9-b7c6-07662e1d0a08",
      "name": "Google Drive3",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "wiLRF9QPi18ANrOf",
          "name": "Google Drive account"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-07-12T13:58:42.000Z",
  "versionId": "b40413dc-ef0a-446f-9440-2a1e1d70f5f6"
}