workflows/Automatización De BAJAS - El Capitán.json
{
  "active": true,
  "activeVersion": {
    "updatedAt": "2026-04-06T11:41:42.000Z",
    "createdAt": "2026-04-06T11:40:46.493Z",
    "versionId": "228bb196-f825-406b-90bf-50886be1c652",
    "workflowId": "airUfWwrEk9DqwvU",
    "nodes": [
      {
        "parameters": {
          "path": "baja-suscripcion",
          "responseMode": "responseNode",
          "options": {}
        },
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2.1,
        "position": [
          0,
          0
        ],
        "id": "a8f88685-4920-4358-96d0-80d587ad423c",
        "name": "Webhook",
        "webhookId": "adc89c18-9614-4bf0-b12d-4734061dd5cc"
      },
      {
        "parameters": {
          "documentId": {
            "__rl": true,
            "value": "1iOdkZsFvbCmBdOxNWL5K0exruGIwGEZbKEajTLLcij0",
            "mode": "list",
            "cachedResultName": "Automatización El Capitán",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1iOdkZsFvbCmBdOxNWL5K0exruGIwGEZbKEajTLLcij0/edit?usp=drivesdk"
          },
          "sheetName": {
            "__rl": true,
            "value": 1694960090,
            "mode": "list",
            "cachedResultName": "Hoja 2",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1iOdkZsFvbCmBdOxNWL5K0exruGIwGEZbKEajTLLcij0/edit#gid=1694960090"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.7,
        "position": [
          208,
          0
        ],
        "id": "fa21a73b-4396-4fdc-bdd6-ce98e43e5b3b",
        "name": "Get row(s) in sheet",
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "j4ZnLe5mXGbvTJiJ",
            "name": "Google Sheets account 5"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "loose",
              "version": 3
            },
            "conditions": [
              {
                "id": "ea9cdb56-28d5-4b0d-9034-516b2316bfb6",
                "leftValue": "={{ String($json[\"TOKEN_BAJA\"] || \"\") }}",
                "rightValue": "={{ String($items(\"Webhook\")[0].json.query.token || \"\") }}",
                "operator": {
                  "type": "string",
                  "operation": "equals",
                  "name": "filter.operator.equals"
                }
              },
              {
                "id": "5f7e5f9c-eea3-4191-ad94-be070653d72a",
                "leftValue": "={{ String($json[\"ACTIVO\"] || \"\").trim().toUpperCase() }}",
                "rightValue": "SI",
                "operator": {
                  "type": "string",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "and"
          },
          "looseTypeValidation": true,
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          416,
          0
        ],
        "id": "801a97b2-5b67-439d-8e03-b5a973fe1f3e",
        "name": "If"
      },
      {
        "parameters": {
          "operation": "update",
          "documentId": {
            "__rl": true,
            "value": "1iOdkZsFvbCmBdOxNWL5K0exruGIwGEZbKEajTLLcij0",
            "mode": "list",
            "cachedResultName": "Automatización El Capitán",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1iOdkZsFvbCmBdOxNWL5K0exruGIwGEZbKEajTLLcij0/edit?usp=drivesdk"
          },
          "sheetName": {
            "__rl": true,
            "value": 1694960090,
            "mode": "list",
            "cachedResultName": "Hoja 2",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1iOdkZsFvbCmBdOxNWL5K0exruGIwGEZbKEajTLLcij0/edit#gid=1694960090"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "ACTIVO": "NO",
              "TOKEN_BAJA": "={{ $json.TOKEN_BAJA }}"
            },
            "matchingColumns": [
              "TOKEN_BAJA"
            ],
            "schema": [
              {
                "id": "NOMBRE",
                "displayName": "NOMBRE",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "CORREO",
                "displayName": "CORREO",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "TOKEN_BAJA",
                "displayName": "TOKEN_BAJA",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "ACTIVO",
                "displayName": "ACTIVO",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "row_number",
                "displayName": "row_number",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "number",
                "canBeUsedToMatch": true,
                "readOnly": true,
                "removed": true
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.7,
        "position": [
          624,
          -96
        ],
        "id": "579d665a-ca58-4f9c-b85b-d39a07dc405b",
        "name": "Update row in sheet",
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "j4ZnLe5mXGbvTJiJ",
            "name": "Google Sheets account 5"
          }
        }
      },
      {
        "parameters": {
          "respondWith": "text",
          "responseBody": "<!DOCTYPE html>\n<html lang=\"es\">\n<head>\n  <meta charset=\"UTF-8\">\n  <title>Baja completada</title>\n  <style>\n    body {\n      font-family: Arial, sans-serif;\n      background-color: #f5f7fa;\n      display: flex;\n      justify-content: center;\n      align-items: center;\n      height: 100vh;\n      margin: 0;\n    }\n    .card {\n      background: white;\n      padding: 40px;\n      border-radius: 12px;\n      box-shadow: 0 10px 25px rgba(0,0,0,0.1);\n      text-align: center;\n      max-width: 420px;\n    }\n    h1 {\n      color: #2c7be5;\n      margin-bottom: 10px;\n    }\n    p {\n      color: #555;\n      font-size: 16px;\n      line-height: 1.5;\n    }\n  </style>\n</head>\n<body>\n  <div class=\"card\">\n    <h1>✅ Suscripción cancelada</h1>\n    <p>Has sido dado de baja correctamente.</p>\n    <p>Ya no recibirás más correos de esta lista.</p>\n  </div>\n</body>\n</html>",
          "options": {
            "responseHeaders": {
              "entries": [
                {
                  "name": "Content-Type",
                  "value": "text/html; charset=utf-8"
                }
              ]
            }
          }
        },
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.5,
        "position": [
          832,
          -96
        ],
        "id": "fe975aa6-9ae3-44c0-b989-e8c7d489d5a5",
        "name": "Respond to Webhook"
      }
    ],
    "connections": {
      "Webhook": {
        "main": [
          [
            {
              "node": "Get row(s) in sheet",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get row(s) in sheet": {
        "main": [
          [
            {
              "node": "If",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If": {
        "main": [
          [
            {
              "node": "Update row in sheet",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Update row in sheet": {
        "main": [
          [
            {
              "node": "Respond to Webhook",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Paloma Dominguez",
    "name": "Version 228bb196",
    "description": "",
    "autosaved": true
  },
  "activeVersionId": "228bb196-f825-406b-90bf-50886be1c652",
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update row in sheet": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-04-04T13:44:03.218Z",
  "id": "airUfWwrEk9DqwvU",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Automatización De BAJAS - El Capitán",
  "nodes": [
    {
      "parameters": {
        "path": "baja-suscripcion",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "a8f88685-4920-4358-96d0-80d587ad423c",
      "name": "Webhook",
      "webhookId": "adc89c18-9614-4bf0-b12d-4734061dd5cc"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1iOdkZsFvbCmBdOxNWL5K0exruGIwGEZbKEajTLLcij0",
          "mode": "list",
          "cachedResultName": "Automatización El Capitán",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1iOdkZsFvbCmBdOxNWL5K0exruGIwGEZbKEajTLLcij0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1694960090,
          "mode": "list",
          "cachedResultName": "Hoja 2",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1iOdkZsFvbCmBdOxNWL5K0exruGIwGEZbKEajTLLcij0/edit#gid=1694960090"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        208,
        0
      ],
      "id": "fa21a73b-4396-4fdc-bdd6-ce98e43e5b3b",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "j4ZnLe5mXGbvTJiJ",
          "name": "Google Sheets account 5"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "ea9cdb56-28d5-4b0d-9034-516b2316bfb6",
              "leftValue": "={{ String($json[\"TOKEN_BAJA\"] || \"\") }}",
              "rightValue": "={{ String($items(\"Webhook\")[0].json.query.token || \"\") }}",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "5f7e5f9c-eea3-4191-ad94-be070653d72a",
              "leftValue": "={{ String($json[\"ACTIVO\"] || \"\").trim().toUpperCase() }}",
              "rightValue": "SI",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        416,
        0
      ],
      "id": "801a97b2-5b67-439d-8e03-b5a973fe1f3e",
      "name": "If"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1iOdkZsFvbCmBdOxNWL5K0exruGIwGEZbKEajTLLcij0",
          "mode": "list",
          "cachedResultName": "Automatización El Capitán",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1iOdkZsFvbCmBdOxNWL5K0exruGIwGEZbKEajTLLcij0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1694960090,
          "mode": "list",
          "cachedResultName": "Hoja 2",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1iOdkZsFvbCmBdOxNWL5K0exruGIwGEZbKEajTLLcij0/edit#gid=1694960090"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "ACTIVO": "NO",
            "TOKEN_BAJA": "={{ $json.TOKEN_BAJA }}"
          },
          "matchingColumns": [
            "TOKEN_BAJA"
          ],
          "schema": [
            {
              "id": "NOMBRE",
              "displayName": "NOMBRE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "CORREO",
              "displayName": "CORREO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "TOKEN_BAJA",
              "displayName": "TOKEN_BAJA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "ACTIVO",
              "displayName": "ACTIVO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        624,
        -96
      ],
      "id": "579d665a-ca58-4f9c-b85b-d39a07dc405b",
      "name": "Update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "j4ZnLe5mXGbvTJiJ",
          "name": "Google Sheets account 5"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "<!DOCTYPE html>\n<html lang=\"es\">\n<head>\n  <meta charset=\"UTF-8\">\n  <title>Baja completada</title>\n  <style>\n    body {\n      font-family: Arial, sans-serif;\n      background-color: #f5f7fa;\n      display: flex;\n      justify-content: center;\n      align-items: center;\n      height: 100vh;\n      margin: 0;\n    }\n    .card {\n      background: white;\n      padding: 40px;\n      border-radius: 12px;\n      box-shadow: 0 10px 25px rgba(0,0,0,0.1);\n      text-align: center;\n      max-width: 420px;\n    }\n    h1 {\n      color: #2c7be5;\n      margin-bottom: 10px;\n    }\n    p {\n      color: #555;\n      font-size: 16px;\n      line-height: 1.5;\n    }\n  </style>\n</head>\n<body>\n  <div class=\"card\">\n    <h1>✅ Suscripción cancelada</h1>\n    <p>Has sido dado de baja correctamente.</p>\n    <p>Ya no recibirás más correos de esta lista.</p>\n  </div>\n</body>\n</html>",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "text/html; charset=utf-8"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        832,
        -96
      ],
      "id": "fe975aa6-9ae3-44c0-b989-e8c7d489d5a5",
      "name": "Respond to Webhook"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "shared": [
    {
      "updatedAt": "2026-04-04T13:44:03.224Z",
      "createdAt": "2026-04-04T13:44:03.224Z",
      "role": "workflow:owner",
      "workflowId": "airUfWwrEk9DqwvU",
      "projectId": "VtkoF2S7EHiBzxK5"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2026-04-06T11:40:46.491Z",
  "versionId": "228bb196-f825-406b-90bf-50886be1c652"
}